.home {
  .img {
    @apply top-1/2
    -translate-y-1/2
    left-1/2
    -translate-x-1/2
    fixed
    w-[440px]
    md:w-auto
    md:max-w-2xl
    lg:max-w-4xl;

    img {
      @apply grayscale;
    }
    .img-grad {
      @apply absolute bg-transparent w-full h-full top-0 left-0;
      box-shadow: 0px 0px 20px 15px rgba(11, 11, 13, 1) inset;
      -webkit-box-shadow: 0px 0px 20px 15px rgba(11, 11, 13, 1) inset;
      -moz-box-shadow: 0px 0px 20px 15px rgba(11, 11, 13, 1) inset;
    }
  }

  .links {
    @apply flex justify-center;
    a {
      @extend .link1;
      @apply no-underline py-6 text-center prose-2xl text-white flex flex-nowrap;
    }
  }
}
